* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins, sans-serif;
    text-decoration: none;
}
body {
    overflow-x: hidden;
}
.hero-header {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #222;
}
.wrapper {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}
header {
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.logo i {
    height: 45px;
    width: 45px;
    background-color: #007ced;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}

.logo .logo-text {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}
nav .togglrbtn{
     width: 35px;
     height: 35px;
     position: absolute;
     top: 45px;
     right: 3%;
     z-index: 5;
     cursor: pointer;
}
nav .togglrbtn span{
    display: block;
    background-color: #007ced;
    margin: 5px 0px;
    width: 100%;
    height: 3 px;
    transition:  0.3s;
    transition-property: transform, opacity;
}
nav .navlinks{
    list-style-type: none;
}
nav .navlinks li{
    display: inline-block;
}
nav .navlinks li a{
   color: #e5e5e5;
   margin-right: 2.5rem;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}
.container .pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    box-shadow: 5px 70px 25px rgba(0,0,0,0.5);
}
.pic img{
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
.pic img:hover{
    transform: scale(1.2);
}
.home-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.home-text h5{
    color: #e5e5e5;
    font-size: 14px;
}
.home-text h5 span{
    color: #007ced;
    font-size: 16px;
}
.home-text h1{
    color: #007ced;
    font-size: 3rem;
}
.home-text p{
    color: #e5e5e5;
}
.btn-group{
    margin: 45px 0;
}
.btn-group .btn{
    border-color: #d5d5d5 ;
    color: #fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #d5d5d5;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
}
.btn.active{
    border-color: #007ced;
}
@media(max-width:930px)
{
    nav.togglrbtn{
        display: initial;
    }
    .click{
        top:45px;
    }
    .click span{
        position: absolute;
        margin-top: 12px;
    }
}
h2{
    color: #fff;
}
.about-content{
    color: #c8c5c5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: initial;
    padding-left: 30px;
}
.about-details{
    color: #c8c5c5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: initial;
    display: inline-block;
    padding-left: 50px;
}
.edu-details{
    color: #c8c5c5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: initial;
    padding-left: 200px;
}
hr{
    color: #d5d5d5;
}
skill-container {
    margin-bottom: 20px;
}
.skill{
    color: #e5e5e5;
}

.skill-name {
    font-weight: bold;
    display: inline-flex;
    color: #fff;
}

.skill-percent {
    font-weight: bold;
    display: inline-flex;
    width: 100%;
    text-align: right;
    float: right;
}
.skill-container{
    display: inline-block;
    flex-direction: column;
}

.progress {
    height: 10px;
    margin-top: 10px;
    width: 100%;
}

.contact-detail{
    color: #c8c5c5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: initial;
}

.about{
    color: #c8c5c5;
}
.section-title{
    padding-left: 20px;
}
.col-lg-6 i{
    
    pedding-left : 20px;
}
.hero{
    width: 50%;
    height: 50vh;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
form{
    width: 90%;
    max-width: 600px;
    color: #fff;
}
.input-group{
    margin-bottom: 30px;
}
input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;

}















